/*
Theme Name: childtheme
Theme URI: https://woocommerce.com/storefront/
Template: storefront
Author: Automattic
Author URI: https://woocommerce.com/
Description: Storefront is the perfect theme for your next WooCommerce project. Designed and developed by WooCommerce Core developers, it features a bespoke integration with WooCommerce itself plus many of the most popular customer facing WooCommerce extensions. There are several layout &amp; color options to personalise your shop, multiple widget regions, a responsive design and much more. Developers will love its lean and extensible codebase making it a joy to customize and extend. Looking for a WooCommerce theme? Look no further!
Tags: e-commerce,two-columns,left-sidebar,right-sidebar,custom-background,custom-colors,custom-header,custom-menu,featured-images,full-width-template,threaded-comments,accessibility-ready,rtl-language-support,footer-widgets,sticky-post,theme-options,editor-style
Version: 4.0.0.1648460900
Updated: 2022-03-28 11:48:20

*/


/* latin */
@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/droidserif/v18/tDbI2oqRg1oM3QBjjcaDkOr9rAU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/droidserif/v18/tDbV2oqRg1oM3QBjjcaDkOJGiRD7OwE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u-w4BMUTPHjxsIPx-mPCLQ7A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u-w4BMUTPHjxsIPx-oPCI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI9w2_FQft1dw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI9w2_Gwft.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u8w4BMUTPHjxsAUi-qJCY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u8w4BMUTPHjxsAXC-q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI5wq_FQft1dw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI5wq_Gwft.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI3wi_FQft1dw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u_w4BMUTPHjxsI3wi_Gwft.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u8w4BMUTPHh30AUi-qJCY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u8w4BMUTPHh30AXC-q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/lato/v22/S6u9w4BMUTPHh50XSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  body {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 20px;
  }

* {
  font-family:'Droid Serif', serif;
  color: #3e4749;
}

  .custom-logo {
    height: 30vh !important;
    width: auto;
  }


  h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Lato, sans-serif;
    color: #3e4749;
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Lato, sans-serif;
    color: #ff4b01;
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
  }
  p {
    margin-bottom: 10px;
    font-family:'Droid Serif', serif;
    color: #677479;
  }
  a {
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;
    color: #faa000;
    text-decoration: none;
  }
  a:hover {
    color: #ff4b01;
    text-decoration: none;
  }

.storefront-primary-navigation
{
    background-color: #ff4b01;
}
.storefront-primary-navigation a
{
    font-size: 15px;
    color: #ffffff !important;
}

.storefront-primary-navigation a:hover
{
    /* transform: scale(1.2); */
    color: #3e4749 !important;
}

.widget woocommerce widget_shopping_cart {
    color: #3e4749 !important;
}

.main-navigation{
   
    font-family: Lato, sans-serif;
    color: #879499;
    
    font-style: normal;
    font-weight: 300;
}

thead th{
  background-color: #3e4749 !important; 
  color :#ffffff
}


.woocommerce-cart-form__cart-item td {
  background-color: #879499 !important;
  color :#ffffff
}

.woocommerce-cart-form__cart-item a {
  color :#ffffff
}


.coupon {
  padding-right: 30px;
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
}



.widget_shopping_cart_content li a {
    color: #333 !important;
}

.widget_shopping_cart_content li a:hover {
    transform: scale(1.1);
}

label {}

.bgtomato {
    background-color: #ff4b01;
}

.bordertomato {
    border: solid #ff4b01 3px;
}

.bgsun {
    background-color: #faa000;
}

.bordersun {
    border: solid #faa000 3px;
}

.bgdarkgrey {
    background-color: #3e4749;
}

.borderdarkgrey {
    border: solid #3e4749 3px;
}

.bglightgrey {
    background-color: #879499;
}

.borderlightgrey {
    border: solid #879499 3px;
}


.callouttext {
    display: inline-block;
    color: #ff4b01;
    font-size: 40px;
    line-height: 40px;
  }
  .callouttext._2 {
    margin-left: 25px;
    padding: 4px 15px;
    font-family: Lato, sans-serif;
    color: #879499;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
  }

  .site-title a {
    margin-top: 7px;
    margin-bottom: 7px;
    padding-right: 50px;
    padding-left: 104px;
    font-family: Lato, sans-serif;
    color: #faa000 !important;
    font-size: 50px;
    line-height: 50px;
    font-style: italic;
    
  }

  .site-description {
    margin-left: 25px;
    padding: 4px 15px;
    font-family: Lato, sans-serif;
    color: #879499 !important;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 300;
  }

  .indextitle{
    font-family: Lato, sans-serif;
    color: #faa000;
    font-size: 50px;
    line-height: 50px;
    font-style: italic;
    font-weight: 700;
  } 
  .callouttext._3 {
    margin-top: 7px;
    margin-bottom: 7px;
    padding-right: 50px;
    padding-left: 104px;
    font-family: Lato, sans-serif;
    color: #faa000;
    font-size: 50px;
    line-height: 50px;
    font-style: italic;
    font-weight: 700;
  }
  .callouttext._4 {
    margin-left: 15px;
    color: #3e4749;
    font-size: 30px;
  }
  .callouttext._5 {
    margin-left: 63px;
    font-family: Lato, sans-serif;
    color: #879499;
    font-size: 30px;
    font-weight: 700;
  }


  .button {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px 32px;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(left, #ff4b01, #f8733f 99%);
    background-image: linear-gradient(to right, #ff4b01, #f8733f 99%);
    -webkit-transition: color 300ms ease, background-color 300ms ease;
    transition: color 300ms ease, background-color 300ms ease;
  }
  .button:hover {
    background-image: -webkit-linear-gradient(left, #ff4b01, #fe530e);
    background-image: linear-gradient(to right, #ff4b01, #fe530e);
    color: white;
  }

  .cart-contents{
    background-color: #3e4749 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    color : #ffffff;
  }

  .cart-contents > span {
    color: #ffffff;
  }
  .cart-contents:hover > span {
    color: #ffffff !important;
  }

  .cart-contents::after {
    color: #ffffff !important;
  }





  
  .button.darkbutton {
    background-color: #3e4749;
    background-image: none;
  }
  .button.darkbutton:hover {
    background-color: #5b6568;
  }
  .button.outline {
    padding-top: 14px;
    padding-bottom: 14px;
    border: 2px solid #ff4b01;
    background-color: transparent;
    background-image: none;
    color: #ff4b01;
  }
  .button.outline:hover {
    background-color: #ff4b01;
    color: white;
  }

  .button {
    display: block;
    text-align: center;
  }




  .divider {
    width: 40%;
    height: 2px;
    margin-top: 11px;
    margin-bottom: 11px;
    background-color: rgba(0, 0, 0, 0.15);
  }


  #place_order {
    background-color: #3e4749 !important;
    background-image: none;
  }

  #place_order:hover {
    background-color: #5b6568 !important;
  }


.site-footer {
  background-color: #faa000;
  color: #3e4749;
  font-size: 20px;

}


.site-footer a {
  font-size: 13px;
}

  @media screen and (max-width: 474px){
    .site-title a  {
      padding-left: 10vw;
      padding-right: 3vw;
      font-size: 30px !important;
    }
  }

  @media screen and (max-width: 298px){
    .site-title a  {
      padding-left: 10vw;
      padding-right: 3vw;
      font-size: 15px !important;
    }
  }